@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<style>
   

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
        color: #fff;

    }

    p {
        font-size: 16px;
        margin-bottom: 15px;
        color: #fff;
    }

    ul {
        margin-bottom: 15px;
        padding-left: 20px;
        color: #fff;
    }

    li {
        margin-bottom: 5px;
        color: #fff;
    }
    h2{
        color: #fff;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Добро пожаловать на страницу политики конфиденциальности автосалона!</p>

<h2>1. Сбор информации</h2>
<p>Мы собираем различную информацию о вас при использовании наших услуг, включая:</p>
<ul>
    <li>Имя, контактную информацию и детали вашего запроса при заполнении форм на сайте или через наш колл-центр.</li>
    <li>Информацию о вашем автомобиле и его техническом состоянии при обращении к нам с запросами о продаже или обслуживании.</li>
    <li>Информацию о вашем использовании нашего сайта, включая данные о посещениях, IP-адреса, данные о браузере и действиях на сайте.</li>
</ul>

<h2>2. Использование информации</h2>
<p>Мы используем собранную информацию для следующих целей:</p>
<ul>
    <li>Обработка ваших запросов и предоставление услуг, связанных с продажей автомобилей, их обслуживанием и ремонтом.</li>
    <li>Повышение качества обслуживания и наших услуг на основе анализа данных и обратной связи от клиентов.</li>
    <li>Отправка вам информации о новых поступлениях автомобилей, специальных предложениях и акциях по вашему запросу.</li>
    <li>Предоставление персонализированных рекомендаций и рекламы на основе ваших предпочтений и интересов.</li>
</ul>

<h2>3. Защита информации</h2>
<p>Мы принимаем меры для защиты вашей личной информации от несанкционированного доступа и использования.</p>

<h2>4. Предоставление информации третьим лицам</h2>
<p>Мы можем предоставлять вашу информацию третьим лицам только в случаях, предусмотренных законодательством, или с вашего разрешения.</p>

<h2>5. Ваши права</h2>
<p>Вы имеете право:</p>
<ul>
    <li>Запрашивать доступ к вашей личной информации, которую мы храним.</li>
    <li>Требовать исправления неточностей в ваших личных данных.</li>
    <li>Запрашивать удаление вашей личной информации, если она больше не требуется для предоставления вам услуг.</li>
</ul>

<p>Если у вас есть вопросы или требования относительно нашей политики конфиденциальности, свяжитесь с нами по контактным данным, указанным на нашем сайте.</p>

<p>Последнее обновление:18.06.2024</p>